# Токен бота от @BotFather
BOT_TOKEN=789123:AAH...

# Подключение к PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=antispam_user
DB_PASSWORD=secret
DB_NAME=antispam_db

# Username администраторов бота через запятую (без @ или с ним — не важно)
ALLOWED_USERS=khristo_01,admin2
